/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    max-width: 90em;
    height:288.25em;
    width:100%;
    height:100%;
    background-color: #F5F8FF;
    margin:auto;
}
*{
    box-sizing: border-box;
}
/*Text Colors*/
.dark01{
    color:#252432;
}
.dark02{
    color:#8987A1;
}
.black{
    color:black;
}
.orange{
    color:#E95A08;
}
/*shared styles*/
.display-flex{
    display:flex;
}
/*header part styles*/
.header{
    justify-content: space-between;
    max-width: 71.25em;
    max-height: 4.4375em;
    width:100%;
    height:100%;
    margin-top: 1.53125em;
    margin-left:9.375em;
    margin-right: 9.375em;

}
.logo{
    max-width:8.4375em;
    max-height:5.125em;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-container{

    justify-content: center;
    align-items: center;
    padding:0;
}
.home{
    margin-left:0em;
    margin-right:3em;
    font-weight: bold;
}
.about,.shop{
    margin-right:3em;
}
.cart{
vertical-align: middle;
}
.cart-image{
    margin-right:0.625em;
    vertical-align: middle;
}
/*navbar closed*/
.header-container{
    width:71.25em;
    height:28.8125em;
    align-items: end;
    margin:6.8125em 9.375em 7.5em 9.375em;
}
/*insight:container cannot have max width or max*/
.header_text{
    /*margin-top:10.125em;*/
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:0.8125em;
}
.header_text_heading{
    max-width:35.625em;
    max-height:11.125em;
    font-size: 4.0625em;
    font-weight: bold;
}
.header_text_description{
    max-width:35.625em;
    max-height:6.75em;
    font-size:1.375em ;
}
.hero-image{
    max-width:35.625em;
    max-height:22.1875em;
    margin-top:6.625em;
}
img1{
    width:100%;
    height:100%;
    display:block;
}
/*for desktop version closed*/
@media only screen and (max-width:576px) {
    body{
    max-width:393.18px;
    height:245px;
    width:100%;
    height:100%;
    background-color: #F5F8FF;
    margin:auto;
    }
    /*header part styles*/
.header{
    justify-content: space-between;
    max-width:361px;
    max-height:38px;
    width:100%;
    height:100%;
    margin-top: 13pxm;
    margin-left:16px;
    margin-right:16px;

}
.logo{
    max-width:63px;
    max-height:38px;
}
.home,.shop,.about{
    display:none;
}
.cart{
vertical-align: middle;
}
.cart-image{
    margin-right:0.625em;
    vertical-align: middle;
}
/*navbar closed*/
.header-container{
    width:393.18px;
    height:420px;
    align-items: end;
    margin:28px 0px 0px 0px;
    flex-direction:column-reverse;
}
.header_text{
    display:flex;
    justify-content: space-between;
    margin:28px 16.18px 0px 16px;
    gap:0.8125em;
 
}
.header_text_heading{
    max-width:361px;
    max-height:66px;
    font-size:24px;
    font-weight: bold;
}
.header_text_description{
    max-width: 360px;
    max-height:68px;
    font-size:14px ;
}
.hero-image{
    max-width:393.18px;
    max-height:415px;
    margin-top:26px;
}
.img1{
    width:100%;
    height:100%;
    object-fit: cover;
}
}
/*HEADER CLOSED*/
.plant_sell{
    max-width:71.25em;
    height:74.18em;
    width:100%;
    margin:120px auto 49px auto;
}
.sell_head{
    font-weight: bold;
    font-size:3.125em;
    text-align: center;
    vertical-align: middle;
}
.sell_description{
    font-size:1.375em;
    max-width:888px;
    max-height:54px;
    text-align: center;
    margin:1em 7.875em 0em 7.875em;
}
.plant_sell_post{
    max-width:1140px;
    max-height:1000px;
    margin:49px 0px 0px 0px;
}
.card{
    max-width:16.875em;
    max-height:30.30875em;
}
.rest_part{
    max-width:270px;
    max-height:132px;
    margin-top:30px;
}
.rest_part_text{
    margin:0px 69px 30px 69px;
    width:132px;
    height:52px;
    font-size:1.375em;
    text-align: center;
}
.button{
    width:16.875em;
    height:50px;
    background-color: #E95A08;
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border:none;
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}
/*responsive*/
@media only screen and (max-width:576px) {
    .plant_sell{
    max-width:393px;
    height:33px;
    width:100%;
    margin:65px 0px 16px 0px;
}
.sell_head{
    font-weight: bold;
    font-size:24px;
    text-align: center;
    vertical-align: middle;
}
.sell_description{
    font-size:0.875px;
    max-width:336px;
    max-height:68px;
    text-align:center;
    margin-top:16px;
}
.plant_sell_post{
    max-width:362px;
    max-height:1078px;
    margin:28px 0px 0px 0px;
}
.card{
    max-width:171px;
    max-height:341px;
}
.rest_part{
    max-width:270px;
    max-height:132px;
    margin-top:30px;
}
.rest_part_text{
    margin:0px 69px 30px 69px;
    width:132px;
    height:52px;
    font-size:1.375em;
    text-align: center;
}
.button{
    width:16.875em;
    height:50px;
    background-color: #E95A08;
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border:none;
}
.grid-container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 28px;
}
.card:nth-of-type(n+7) {
  display: none;
}
}
/*NEW PART*/

.badge{
    max-width: 1140px;
    max-height: 587px;
    column-gap:60px;
    margin:210.13px auto 133.87px auto;
}
.badge-main{
    max-width: 286px;
    max-height: 286px;
    position:absolute;
    right:-95px;
    top:-130px;
}
.image_gardener{
    position:relative;
    max-height: 100px;
}

.badge_description{
    max-width: 540px;
    max-height: 521px;
    margin:45px 0px 38px 0px;
    flex-direction: column;
    row-gap: 20px;
}
.badge_list li{
    list-style: disc;
    flex-direction: column;
    float:left;
    row-gap: 20px;
}
.badge_des_title{
    font-weight: bold;
    font-size: 50px;
}
.badge_list{
    font-size: 22px;
}
.items{
    margin:0;
}
/*spin*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinning-image {
  animation: spin 4s linear infinite; /* Name, Duration, Timing Function, Iteration Count */
}
.lt_deals{
    max-height: 1440px;
    max-height: 68px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}
.lt-deals-des{
    max-width: 888px;
    max-height:54px;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    margin:auto;
}
.last_cards_container{
    max-width: 1140px;
    max-height: 424px;
    margin: 120px auto 0px auto;
    column-gap: 28px;
}
.col1{
flex-direction: column;
row-gap: 25px;
}
.boom{
    background-image: url(../assets/deal-bloom.png);
    width: 366.22px;
    height:206px;
    border-radius: 14px;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.ana{
    background-image: url(../assets/deal-ana.png);
    width: 366.22px;
    height:206px;
    justify-content:center;
    align-items: center;
    text-align: center;
    border-radius: 14px;
}
.zaba{
    position: relative; 
    background-image: url(../assets/deal-zabo.png);
    width: 753px;
    height:423.13px;
    border-radius:22px;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.boom-ana-title{
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.zabo-title{
    font-size: 40px;
    font-weight: bold;
    color:white;
}
.shop_now{
    color:white;
    font-weight: 600;/*semibold*/
    font-size: 16px;
}
.shop_now_new{
    color:white;
    font-weight: 600;/*semibold*/
    font-size: 28px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* black with 40% opacity */
  border-radius: 14px;
  z-index: 1;
  pointer-events: none;
}

/* To keep text above overlay */
.boom, .ana {
  position: relative;
}
.boom_ana_padding {
  position: relative;
  z-index: 2;
}
.prompt{
    max-width: 1440px;
    max-height: 533px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border:1px solid transparent;
    margin-top: 120px;
    background-image: url(../assets/news-letter-bg.png);
}
.prompt_text-container{
    max-width: 830px;
    max-height:141px;
    height:100%;
    text-align: center;
    vertical-align: middle;
    margin:199px 305px 193px 305px;
}
.prompt_text-title{
    font-size: 50px;
    font-weight:bold ;
    color: white;
    align-items: center;
    justify-content: center;
}
.input_email{
    width: 644px;
    height:50px;
    background-color: white;
    padding: 15.5px 20px;
    border: none;
    outline: none;
}
.input_button{
    width:186px;
    height:50px;
    background-color: #E95A08;
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border:none;

}
.input_email::placeholder {
  color:#8987A1;
  font-size: 1em;
}
.special{
    margin-top: 23px;
}
.footer{
    width:1120px;
    height:250px;
    margin:0;
}
.footer-container{
    display: grid;
    grid-template-columns:359px 90px 135px 216px ;
    column-gap: 110.67px;
    margin: 50px 160px;
    border:1px solid black;
}
.one{
    width:359px;
    height:179px;
    flex-direction: column;
    row-gap: 16px;
    border:1px solid red;
}
.one_image{
    width:135px;
    height:82px;
    border:1px solid blueviolet;
}
.one_text{
    font-size: 22px;
    max-width:359px;
    max-height:81px;
    border:1px solid yellow;
}
.two{
    font-size: 1em;
    border:1px solid red;
}
.two ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: column;
  gap: 32px; 
}
.two ul li a {
color:#8987A1;
}
.three ul li a {
color:#8987A1;
}
.three{
    font-size: 1em;
    border:1px solid red;
}
.three ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: column;
  gap: 32px; 
}

.logo_total{
    width:216px;
    height:36px;
    align-items: center;
    gap:24px;
}
.logo_special{
    max-width:36px;
    max-height:36px;
}