/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    max-width: 90em;
    height:288.25em;
    width:100%;
    height:100%;
    background-color: #F5F8FF;
    margin:auto;
}

/*Text Colors*/
.dark01{
    color:#252432;
}
.dark02{
    color:#8987A1;
}
.black{
    color:black;
}
/*shared styles*/
.display-flex{
    display:flex;
}
/*header part styles*/
.header{
    justify-content: space-between;
    max-width: 71.25em;
    max-height: 4.4375em;
    width:100%;
    height:100%;
    margin-top: 1.53125em;
    margin-left:9.375em;
    margin-right: 9.375em;

}
.logo{

    max-width:8.4375em;
    max-height:5.125em;
    /*width:100%;*/
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-container{

    justify-content: center;
    align-items: center;
    padding:0;
}
.home{
    margin-left:0em;
    margin-right: 3em;
    font-weight: bold;
}
.about,.shop{
    margin-right:3em;
}
#cart{
vertical-align: middle;
}